{% extends 'lib/base.html.j2' %}
{% import 'lib/lib.html.j2' as lib with context %}

{% block title %}Old Versions{% endblock %}

{% block body %}
<div class="card">
  
  <div class="logoBox">
    <a href="index.html">
      <video autoplay loop muted >
        <source src="images/collection_logo_v2.webm" type="video/webm">
        <source src="images/collection_logo_v2.mp4" type="video/mp4">
        <img src="images/collection_logo_v2.png"/>
      </video>
    </a>
  </div>

  <div class="cardContent">
    <h2>Asset patch V2</h2>
    <p>The asset patch is a 700mb download. If, and ONLY if you already have an original Asset Pack V1, you may use the PATCH option to upgrade to V2 instead of redownloading the entire thing.</p>
    <a class="anchorButton" href="https://www.mediafire.com/file/p4ms9hiyn3fzq7j/Asset_Patch_V2_-_The_Unofficial_Homestuck_Collection.zip/file" target="_blank">Mediafire (Mirror 1)</a>
    <br><br>
    <a class="anchorButton disabled">More mirrors soon</a><br>

   <h2>UPDATING THE ASSET PACK FROM V1 TO V2</h2>
   

   <p>You will need to MERGE the contents of the Asset PATCH V2 into your original Asset Pack. <a href="howto.html">Follow the same process to extract,</a> then:</p>
      
   <p><img src="images/upgrade/image4.png"></p>
   <p><img src="images/upgrade/image5.png"></p>
   <p><img src="images/upgrade/image6.png"></p>
    
  </div>
</div>
{% endblock %}